*{
	margin : 0;
	padding:0;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.header{
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,20,0.6), rgba(4,9,20,0.6)),	 
	url(images/fondo1.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content:space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex:1;
    text-align:right;
}
.nav-links ul li{
    list-style:none;
    display: inline-block;
    padding:8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height:2px;
    background: yellow;
    display: block;
    margin:auto;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 25px;
    color: white;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid white;
    background: rgba(13,67,107,0.8);
    transition: 0.5s;
    color: white;
}
nav.fa{
    display: none;
}

@media(max-width:700px){
    .text-box h1{
    font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links {
        position: absolute;
        background: yellow;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }
    nav.fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    nav-links ul{
        padding:30px;
    }
}


/*---------Situación Problema-----------*/


.situacion{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background: rgba(13,67,107,0.8);
}
h1{
    color: white;
    font-size: 36px;
    font-weight: 600;
}
.situacion h1{
    display: inline-block;
    position: relative;
    color: white;
    font-size: 36px;
    font-weight: 600;
}
.situacion h1::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: yellow;
    top: 0.6em;
}
.situacion h1::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: yellow;
    top: 0.6em;
}
.situacion h1::before{
    left: -140px
}
.situacion h1::after{
    left: 360px
}
.situacion p{
    color: white;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    padding: 4em;
    width: 100%;
    margin-top:5%;
    display:inline-flex;
    position: relative;
    justify-content:space-between;
    text-align: center;
}

.situacion-col{ 
    flex-basis: 31%;
    background: #ffff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 10px;
    box-sizing:border-box;
    transition: 0.5s;
   
}
.situacion-col p{
    color: black;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

ul{
    color: black;
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    padding: 10px;
    text-align:left;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.situacion-col:hover{
    box-shadow: 0 0 30px 0 rgba(255,255,0,0.6);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}


/*--------------malfunciones-----------*/

.malfunciones{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    background: rgba(13,67,107,0.8);
}
.malfunciones h3{
    color: white;
    font-size: 36.5px;
    font-weight: 600;
    display: inline-block;
    position: relative;
    color: white;
}
.malfunciones h3::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: yellow;
    top: 0.6em;
}
.malfunciones h3::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: rgba(255,255,0,0.6);
    top: 0.6em;
}
.malfunciones h3::before{
    left: -140px
}
.malfunciones h3::after{
    left: 475px
}
.malfunciones p{
    color: white;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.malfunciones-col h2{
    color: white;
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    position: relative;
    color: white;
}
.malfunciones-col p{
    color: white;
    font-size: 22px;
    font-weight: 300;
    line-height: 22px;
}

.row{
    padding: 4em;
    width: 100%;
    margin-top:5%;
    display:flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content:space-around;
    
}
.malfunciones-col{
    flex-basis: 32%;
    border-radius: 7px;
    margin-bottom: 50px;
    position: relative;
    overflow:visible;
    padding: 10px ;
    border: 1px solid rgb(255, 255, 255) ;
}
.malfunciones-col::after{
    content: '';
    width: 0%;
    height:2px;
    background: yellow;
    display: block;
    margin:auto;
}
.malfunciones-col:hover::after{
    width: 50%;
}


/*--------estandares----------*/


.prueba{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    background: white;
    
}
.prueba h3{
    color: black;
    font-size: 36px;
    font-weight: 600;
    display: inline-block;
    position: relative;
    font-size: 36px;
    font-weight: 600;
}
.prueba h3::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: yellow;
    top: 0.6em;
}
.prueba h3::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: yellow;
    top: 0.6em;
}
.prueba h3::before{
    left: -140px
}
.prueba h3::after{
    left: 510px
}
.prueba p{
    color: black;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.prueba-row{
    padding: 2em;
    width: 100%;
    margin-top: 0px;
    display:block;
    justify-content:space-between;
    text-align: center;
}
.prueba-col{
    flex-basis: 32%;
    border-radius: 7px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}
.prueba-col img{
    width: 100%;
    display:block;
}
.prueba-layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
}
.prueba-layer img:hover {
    background: rgba(13,67,107,0.8);
}   
.prueba-layer img{
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.prueba-layer p{
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 15px;
    bottom: 0;
    left: 0;
    transform: translateX(-90%);
    transform: translateY(150%);
    position:absolute;
    opacity: 0;
    transition: 0.5s; 
}
.prueba-layer:hover img{
    bottom: 0;
    opacity: 1;
}


/*--------comportamiento------*/

.comportamiento{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background: rgba(13,67,107,0.8);
    padding-bottom: 100px;
}
.comportamiento-col{
    height: 50vh; 
    text-align: center; 
    display: flex; 
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.comportamineto-col h7{
    color: white;
    font-size: 36px;
    font-weight: 400;
}
.comportamineto-col p{
    color: white;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.hero-btn2{
    display:inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position:block;
    cursor: pointer;
}
.hero-btn2:hover{
    border: 1px solid white;
    background: rgba(13,67,107,0.8);
    transition: 0.5s;
    color: white;
}

/*--------------------TABLERO DESCRIPTIVO--------------------- */
.sub-header1{
    height: vh;
    width: 100%;
    background: rgba(13,67,107,0.8);
    background-position: center;
    background-size: cover;
    text-align: center;
}

.tit_descriptivo{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 0px;
    background: rgba(13,67,107,0.8);
}
.tit_descriptivo h1{
    color: white;
    font-size: 36px;
    font-weight: 600;
}
.tit_descriptivo h1{
    display: inline-block;
    position: relative;
    color: white;
    font-size: 36px;
    font-weight: 600;
}
.tit_descriptivo h1::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: yellow;
    top: 0.6em;
}
.tit_descriptivo h1::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: yellow;
    top: 0.6em;
}
.tit_descriptivo h1::before{
    left: -140px
}
.tit_descriptivo h1::after{
    left: 360px
}
.tit_descriptivo p{
    color: white;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.descriptivo{
    padding: 2em;
    width: 100%;
    margin-top:-1%;
    display:block;
    justify-content:space-between;
    text-align: center;
    background: rgba(13,67,107,0.8);
}
.descriptivo col{
    flex-basis: 32%;
    border-radius: 7px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}
.descriptivo-col img{
    width: 100%;
    display: block;
}








/*--------------------TABLERO TENDENCIAS--------------------- */

.sub-header2{
    height: vh;
    width: 100%;
    background: rgba(13,67,107,0.8);
    background-position: center;
    background-size: cover;
    text-align: center;
}

.tit_tendencias{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 0px;
    background: rgba(13,67,107,0.8);
}
.tit_tendencias h1{
    color: white;
    font-size: 36px;
    font-weight: 600;
}
.tit_tendencias h1{
    display: inline-block;
    position: relative;
    color: white;
    font-size: 36px;
    font-weight: 600;
}
.tit_tendencias h1::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: yellow;
    top: 0.6em;
}
.tit_tendencias h1::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: yellow;
    top: 0.6em;
}
.tit_tendencias h1::before{
    left: -140px
}
.tit_tendencias h1::after{
    left: 360px
}
.tit_tendencias p{
    color: white;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.tendencias{
    padding: 2em;
    width: 100%;
    margin-top:-1%;
    display:block;
    justify-content:space-between;
    text-align: center;
    background: rgba(13,67,107,0.8);
}
.tendencias col{
    flex-basis: 32%;
    border-radius: 7px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}
.tendencias-col img{
    width: 100%;
    display: block;
}












/*--------------------PAGINA RESULTADOS--------------------- */

.sub-header3{
    height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/fondo_res.jpeg);
    background-position: center;
    background-size: cover;
    text-align: center;
}
.sub-header3 h1{
    font-size: 55px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    padding-top: 125px;
}


/*-------------------Comportamiento2--------------- */

.res{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background: #fff;
    padding-bottom: 100px;
}
.res-col2 h7{
    color: black;
    font-size: 32px;
    font-weight: 400;
}
.res-col2 p{
    color: black;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}


/*--------temperaturas y energia------*/

.conclusiones{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
    background: rgba(13,67,107,0.8);
}
.conclusiones2{
    width: 80%;
    margin: auto;
    display:inline-block;
}
.conclusiones-row{
    padding: 2em;
    width: 100%;
    margin-top:5%;
    display:flex;
    position: relative;
    justify-content:space-between;
}
.conclusiones-img{
    flex-basis: 50%;
    margin:auto;
}
.conclusiones-img img{
    width: 75%;
    border-radius: 5px;
}

.conclusiones h3{
    color: white;
    font-size: 36px;
    font-weight: 600;
    display: inline-block;
    position: relative;
    color: white;
    font-size: 36px;
    font-weight: 600;
}
.conclusiones h3::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: yellow;
    top: 0.6em;
}
.conclusiones h3::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: yellow;
    top: 0.6em;
}
.conclusiones h3::before{
    left: -140px
}
.conclusiones h3::after{
    left: 500px
}
.conclusiones p{
    color: white;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    text-align: center;
    padding-bottom: 40px;
}
.conclusiones2 h1{
    color: white;
    font-size: 25px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 100;   
}
.conclusiones-desc{
    display: flex;
    align-items:center;
    margin-bottom: 20px;
    text-align: center;
}
.feature-icon .fa{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: yellow;
    border:1px solid yellow;
}
.features-text p{
    padding: 5px 10px;
    text-align: initial;
}



/*--------energia------*/

.energia{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
    background: rgba(13,67,107,0.8);
}
.energia2{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    
}
.energia-col{
    flex-basis: 50%;
}
.energia-img{
    flex-basis: 50%;
    margin:auto;
}
.energia-img img{
    width: 75%;
    border-radius: 5px;
}

.energia h3{
    color: white;
    font-size: 36px;
    font-weight: 600;
    display: inline-block;
    position: relative;
    color: white;
    font-size: 36px;
    font-weight: 600;
}
.energia h3::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: yellow;
    top: 0.6em;
}
.energia h3::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: yellow;
    top: 0.6em;
}
.energia h3::before{
    left: -140px
}
.energia h3::after{
    left: 500px
}
.energia p{
    color: white;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    padding-bottom: 40px;
}
.energia2 p{
    color: white;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    text-align: left;
}
.energia2 h1{
    color: white;
    font-size: 25px;
    font-weight: bold;
    line-height: 22px;
    padding: 10px;
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;   
}
.energia-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.feature-icon .fa{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: yellow;
    border:1px solid yellow;
}
.features-text p{
    padding: 5px 10px;
    text-align: initial;
}
.energia h4{
    color: white;
    font-size: 36px;
    font-weight: 600;
    display: inline-block;
    position: relative;
    color: white;
    font-size: 36px;
    font-weight: 600;
}
.energia h4::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: yellow;
    top: 0.6em;
}
.energia h4::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: yellow;
    top: 0.6em;
}
.energia h4::before{
    left: -140px
}
.energia h4::after{
    left: 380px
}


/*--------cierre------*/

.cierre-col h7{
    color: black;
    font-size: 36px;
    font-weight: 400;
}
.cierre-col h8{
    color: black;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

/*--------conclusiones------*/

.final{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
    background: rgba(13,67,107,0.8);
}
.final h3{
    color: white;
    font-size: 36px;
    font-weight: 600;
    display: inline-block;
    position: relative;
    color: white;
    font-size: 36px;
    font-weight: 600;
}
.final h3::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: yellow;
    top: 0.6em;
}
.final h3::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: yellow;
    top: 0.6em;
}
.final h3::before{
    left: -140px
}
.final h3::after{
    left: 190px;
}
.final p{
    color: white;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.final-col p{
    color: white;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.final h1{
    color: white;
    font-size: 25px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;   
}
.final2{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    text-align: center;
    justify-content:space-evenly;
}
.final-col{
    margin: 0 0px;
    text-align: center;
    box-sizing:border-box;
    flex-basis: 32%;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255, 0.6);
}
.final-col ul li{
    color: white;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    padding-bottom: 0px;
}
.final-col img{
    width: 90px;
}



/*-------Recomendaciones------*/

.recom{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background: rgba(13,67,107,0.8);
}
.recom h3{
    color: white;
    font-size: 36px;
    font-weight: 600;
    display: inline-block;
    position: relative;
    color: white;
    font-size: 36px;
    font-weight: 600;
}
.recom h3::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: yellow;
    top: 0.6em;
}
.recom h3::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: yellow;
    top: 0.6em;
}
.recom h3::before{
    left: -140px
}
.recom h3::after{
    left: 345px;
}
.recom p{
    color: white;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.recom-col p{
    color: white;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.recom h1{
    color: white;
    font-size: 25px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;   
}
.recom2{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    text-align: center;
    justify-content:space-evenly;
}
.recom-col{
    margin: 0 0px;
    text-align: center;
}
.recom-col img{
    width: 90px;
}


/*----*/
.recom1{
    padding: 4em;
    width: 100%;
    margin-top:5%;
    display:inline-flex;
    position: relative;
    justify-content:space-between;
    text-align: center;
}

.recom1-col{ 
    flex-basis: 31%;
    background: #ffff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 10px;
    box-sizing:border-box;
}
.recom1-col p{
    color: black;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    text-align: left;
}
.recom1-col h1{
    color: black;
    font-size: 30px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    display: inline-block;
    position:relative;
    text-align: center;
}

.recom1-col ul li{
    color: black;
    font-size: 20px;
    font-weight:bold;
    line-height: normal;
    padding: 10px;
    text-align:left;
}

/*---------------footer-------*/

.footer{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: black;
}
.footer p{
    color: white;
    margin-top: 12px;
}



















































